@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;600&display=swap');

*{
 margin:0;
 padding: 0; 
}
body{
  background: #fff;
  color: #222;
  font-family: 'Albert Sans', sans-serif;
  font-weight: 300;
  width: 1240px;
  margin:50px auto;
}
/* Header============================ */
header{
  position:relative;
 
}
header .shop_name{
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  top:5px;
}

header .nav{
  list-style: none;
  text-align: right;
  margin-right: 20px;
}
header .nav li{
  font-size: 20px;
  display: inline;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 400ms ease;
}
header .nav a{
  color: #222;
  text-decoration: none;
}
header .nav li:hover{
opacity: 0.5;
}

header .banner{
  margin: 50px 0;
  background:url(./images/bgimg.jpg) no-repeat;
  width: 100%;
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-blend-mode:multiply;
  background-color: #ddd7d7;
  position: relative;
}

header .banner::after{
content: url(./images/logo.png) "The best boots for tourism";
position: absolute;
top: 100px;
left: 50px;
width: 330px;
font-size: 40px;
font-weight: 600px;
color: rgb(72, 70, 70);
}

header .shop_cart{
  width: 270px;
  position: absolute;
  top:50px;
  right: 0;
  background-color: #fafafa;
  box-shadow: 4px 5px 15px -7px #606060;
  border-radius: 15px;
  z-index: 5;
  padding: 15px 20px 0;
}

header .shop_cart .item{
  width: 100%;
  margin-bottom: 20px;
}
header .shop_cart .item img {
  width: 70px;
  margin-right: 15px;
}

header .shop_cart .item h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.active{
  color: #e77777;
}

header .shop_cart .item button{
  background-color: #e77777;
  color: #fff;
  border: none;
  width: 20px;
  position: relative;
  top: -25px;
  left: 250px;
  font-size: 20px;
  font-weight: 600;
}
header .shop_cart .item button:hover{
  background-color: #ed5c5c;
  transform: scale(1.1);
  color: #fff;
  border: none;
  width: 20px;
  position: relative;
  top: -25px;
  left: 250px;
  font-size: 20px;
  font-weight: 600;
  transition: transform, color 300ms ease;
}


.sum{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.close{
  background-color: #ed5c5c;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  transition: transform 300ms ease;
}
.close:hover{
  transform: scale(1.05);
}
.pay{
  background-color: #5fa36a;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 50px;
  position: relative;
  top: -25px;
  left: 230px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 300ms ease;
}
.pay:hover{
  transform: scale(1.05);
}
/* cat================== */
.categories div{
  display: inline-block;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 15px 25px 0;
  cursor: pointer;
  transition: all 400ms ease;
}

.categories div:hover{
  border: 1px solid silver;
  transform: scale(1.05);

}

/* main========================================= */
main{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
main .item{
  width: 30%;
  margin-bottom: 40px;
  background-color: #f5f5f5;
  border: solid 1.5px #f6f6f6;
  border-radius: 2px;
  position: relative;
  padding-bottom: 20px;
}
main .item img{
  width: 100%;
  transition: transform 300ms ease;
}
main .item img:hover{
cursor: pointer;
transform: scale(1.05);
}

main h2,main p, main b{
  margin: 10px 20px;
  color: #333;
}
main b{
  color:#5fa36a;
}

main .add_to_cart{
  font-weight: 600;
  border-radius: 50%;
  border: 1px solid #fff;
  color:#fff;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #e77777;
  width: 35px;
  height: 35px;
  transition: transform, color 300ms ease;
}

main .add_to_cart:hover{
  transform: scale(1.1);
  background-color: #ed5c5c;

}
/* ======footer */
footer{
  text-align: center;
  margin: 50px auto;
  background-color: #f5f5f5;
  padding: 15px;
 
}
footer a{
  text-decoration: none;
  color:#222;
  margin-top:10px;
}
footer div{
  margin-top:10px;
}

.hide{
  display: none;
}
/* media================*/
@media (max-width:1260px){
 body{
 width: 1100px;
 padding: 0 30px;
 }
}
 @media (max-width:940px){
 
    body{
      font-size: 22px;
    }
    main .item{
      width: 45%;
    }
    header .nav li{
      font-size: 32px;
    }
    header .shop_name{
      font-size: 35px;
    }
    header .banner{
      height: 450px;
    }
    header .shop_cart .item button{
      font-size: 22px;
      width: 25px;
    }
    header .shop_cart .item img {
      width: 90px;
    }
    main .add_to_cart{
      width: 45px;
      height: 45px;
      font-size: 22px;
    }
    main b{
      font-size: 22px;
    }
    .categories div{
      margin: 0 25px 10px 20px;
      font-size: 30px;
    }
 }
 @media  (max-width:640px){
  body{
    width: 580px;
    font-size: 15px;
    position: relative; 
  }
  header .banner{
    height: 300px;
  }
  header .banner::after{
    content: url(./images/logo.png) "The best boots for tourism";
    top: 40px;
    left: 30px;
    width: 250px;
    font-size: 25px;
    font-weight: 600px;
  }
  header .nav{
    display:none;
  }
  header nav{
    height: 25px;
  }
  header .shop_name{
    top:10px;
    left: 15px;
    font-size: 25px;
  }

  header .navmenu{
  display: flex;
  margin-left: 400px;
  flex-direction: column;
  background-color: #fafafa;
  box-sizing: border-box;
  }

  header .navmenu li{
    font-size: 35px;
    display: inline;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity 400ms ease;
    z-index: 99;
    background-color: #f5f5f5;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
  }
  header .navmenu a{
    color: #222;
    text-decoration: none;
  }
  header .navmenu li:hover{
  opacity: 0.5;
  }
  header .shop_cart{
    top: 100px;
    font-size: 15px;
  }
  header .buttonMenu{
    display: block;
    margin: 0 0 10px 480px;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px;
    font-size: 30px;
    color: #333;
    font-weight: 300;
    cursor: pointer;
  }
  header .shop_cart{
    width: 270px;
    position: absolute;
    top:270px;
    right: 0;
    background-color: #fafafa;
    box-shadow: 4px 5px 15px -7px #606060;
    border-radius: 15px;
    z-index: 5;
    padding: 15px 20px 0;
  }
  
  .categories div{
    margin: 0 25px 10px 40px;
    font-size: 30px;
  }
    div .item{
      width: 80%;
      margin: 20px auto;
    }
 }

 @media  (max-width:440px){

  body{
    width: 430px;
  }
  header .banner{
    height: 250px;
  }
  header .navmenu{
    margin-left: 240px;
 }
 header .navmenu li{
 font-size: 30px;
}
header .buttonMenu{
  margin-left: 330px;
}
header .shop_cart{
  top: 230px;

}
.categories div{
  margin: 0 20px 10px 10px;
  font-size: 25px;
}
}